.channelTabs-tabContainer {
    background: black;
}
.channelTabs-closeTab {
    right: 3px;
    top: 9px;
    background: black;
}
.channelTabs-tab.channelTabs-selected .channelTabs-closeTab {
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
}
.channelTabs-tab.channelTabs-selected .channelTabs-closeTab:hover {
    background: rgb(60, 60, 60);
    color: white;
}
.channelTabs-tab:not(.channelTabs-selected):hover .channelTabs-closeTab {
    background: rgb(15, 15, 15);
}
.channelTabs-closeTab {
    background: black;
}
.channelTabs-tab:not(.channelTabs-selected) .channelTabs-closeTab:hover {
    background: rgb(50, 50, 50);;
    color: rgb(200, 200, 200);
}
.channelTabs-newTab {
    background: black;
    color: rgb(120, 120, 120);
}
.channelTabs-newTab:hover {
    background: rgb(20, 20, 20);
    color: rgb(140, 140, 140);
}
.channelTabs-favContainer {
    background: black;
}

.theme-dark .layers-3iHuyZ {
    background: black;
}
[aria-label="Send a gift"] {
    display: none;
}
.appMount-3lHmkl, body {
    background: black
}
#app-mount .wrapper-3WhCwL {
    color: #687dc6;
    background: rgba(114,137,218,0.1);
}
#app-mount .wrapper-3WhCwL:hover {
    background: rgb(114,137,218);
    color: white;
}
#app-mount .mentioned-xhSam7 .mention {
    background: transparent !important
}
#app-mount .mentioned-xhSam7 .mention:hover {
    color: #687dc6;
}
.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}

#private-channels a[href="/store"] {
    display: none;
}